    body{
        font: 20px, Arial, sans-serif;
    }

    .navbar{
        background-color: #D7E016;
    }

    .quem-somos{
        background-color: #E03E16;
    }

    .margin{
        padding-top: 50px;
    }
    
    .parceiros{
        background-color: #57E016;
    }
